/* power container like ios */
.container {
  margin-bottom: 12px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}
.container.on {
  background-color: #4caf50; /* Green color when it's on */
}
.container.off {
  background-color: #cccccc; /* Green color when it's on */
}

.button {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
  transition: 0.3s; /* Add animation for smooth transition */
}

.button.on {
  transform: translateX(0px); /* Position the slider */
}

.button.off {
  transform: translateX(30px); /* Position the slider */
}
