.container {
  display: flex;
  margin: 0 12px;
  background-color: #fafafa;
  border: 1px solid #efeeee;
  box-shadow: 0px 0px 6px 0px #efeeee inset;
  height: 48px;
  margin-bottom: 8px;
}

.column_left {
  display: flex;
  min-width: 120px;
  width: 20%;
  justify-content: end;
  align-items: center;
  padding-right: 16px;
}

.column_right {
  display: flex;
  flex: 1;
}

.column_percentage_left {
  display: flex;
  padding-left: 16px;
  align-items: center;
}

.column_percentage_right {
  display: flex;
  flex: 1;
}

.text {
  color: white;
  font-weight: 700;
}
.text-big {
  color: white;
  font-weight: 700;
  font-size: xx-large;
}
