.sider {
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  position: relative;
  z-index: 10;
}
.side .logo {
  background: white;
}

.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 16px;
  transition: all 0.3s;
  background: #002140;
  overflow: hidden;
  
}

.logo img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}

.logo h1 {
  color: white;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
}