.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 330px;
  background-color: #000000;
  border-radius: 20px;
}
.text,
.icon {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  padding-inline: 24px;
  font-size: 17px;
  line-height: 20px;
}
