.container {
  margin-top: 48px;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.answer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.submit {
  margin-top: 24px;
  border: none;
  background-color: green;
  height: 32px;
  text-align: left;
  font-weight: 700;
  border-radius: 4px;
  padding-inline: 12px;
}
