.song_container {
  background-color: white;
  display: flex;
  flex: 1;
  margin-inline: 12px;
  cursor: pointer;
}

.song_text_container {
  display: flex;
  flex: 1;
  align-items: center;
}

.song_duration_container {
  display: flex;
  flex: 0;
  align-items: center;
}

.song_duration_text {
  font-size: 11px;
  margin-right: 8px;
}
